// reset css
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #f1f5f8;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

ul {
  list-style: none;
}
// variables
$primary-color: #49a6e9;
$background-color-body: hsl(210, 36%, 96%);

// menu button
.menu-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  color: $primary-color;
  font-size: 1.2rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.3);
  }
}

// sidebar
.sidebar {
  height: 100vh;
  overflow: hidden;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  transition: transform 0.4s ease-out;
  transform: translateX(-100%);
  z-index: 99;

  &__header {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;

    button {
      color: red;
      font-size: 2rem;
      animation: rotate-out 0.3s ease-in;

      &:hover {
        animation: rotate-in 0.3s ease-out;
      }
    }
  }

  .nav-links {
    margin-top: 2rem;

    li {
      font-size: 1.5rem;

      a {
        display: block;
        padding: 1rem 1.5rem;
        width: 100%;
        color: #617d98;
        text-decoration: none;
        transition: padding 0.3s;
      }

      a:hover {
        color: $primary-color;
        background-color: rgb(15, 59, 141);
        padding-left: 2.5rem;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: auto;

    &__icons {
      display: flex;

      li {
        padding: 1rem;

        a {
          color: $primary-color;
          font-size: 1.5rem;
        }

        a:hover {
          color: blue;
        }
      }
    }
  }
}

.show-menu {
  transform: translateX(0);
}

// rotate cancle menu button
@keyframes rotate-in {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// reverse the rotation
@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@media screen and (min-width: 600px) {
  .sidebar {
    width: 400px;
  }
}
